
:root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
  display: block !important; 
  background-color: #ffffff;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none !important; 
}
* {
  box-sizing: border-box;
}