/* index.css */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden; /* Prevents tiny horizontal scrolls */
  background-color: #ffffff;
}

#root {
  width: 100% !important;
  max-width: none !important; /* Removes the "box" centering the site */
  margin: 0 !important;
  padding: 0 !important;
}